
.texpadtmp/

.RData

.Rhistory

bib/bvs-iprior.bib

bib/Haziq PhD Notes.bib

bib/LTCC.bib

bib/min-prof-lik.bib

bib/soc-stat-meet.bib

bib/sparse-regression.bib

posterior-f*

bib/soc-stat-meet-hmc.bib

bib/soc-stat-meet-tools.bib

bib/iprior-r-package.bib

bib/EM Algorithms.bib
.Rproj.user

R/data/smokingmod

R/cache

R/data/smoking*

*.fdb_latexmk

*.bcf

*.bbl

*.bcf

*.fls

*.log

*.xml

*.gz

*.nav

R/examples-concordance.tex
*.snm

*.toc

*.vrb

R/README.md

R/README_cache/

R/README_files/
